<!-- Acerca de mi -->
<div id="acercaDeMi" class="bordesSeccion">
    <div class="tituloSeccion">
        <h3 class="fw-bold">Acerca de mi</h3>
        <!-- <button class="crudIcon fa-solid fa-pen" data-bs-toggle="modal" data-bs-target="#exampleModal"></button> -->
        <button *ngIf="session" class="btn btn-success btn-sm rounded-0 crudIcon" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>

      </div>
    <p>{{informacion.aboutMe}}</p>
</div>
<!--Fin Acerca de mi -->

<!-- Modal Edicion -->
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <form [formGroup]="form" class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Acerca de Mi</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-floating">
                <textarea value={{informacion.aboutMe}} formControlName="textoArea" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Acerca de mi</label>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" (click)="onClick()">Guardar</button>
        </div>
    </form>
    </div>
  </div>