<header>
    <div class="navbar navbar-dark bg-dark mb-2">
        <div class="container">
            <a href="#" class="navbar-brand">{{title}}</a>
            <div id="derecha " class="d-flex">
                <div class="redes" *ngIf="user" >
                    <a href={{user.linkedin}}><i class="fs-3 fa-brands fa-linkedin mx-1"></i></a>
                    <a href={{user.instagram}}><i class="fs-3 fa-brands fa-square-instagram mx-1"></i></a>
                    <a href={{user.github}}><i class="fs-3 fa-brands fa-square-github mx-1"></i></a>
                    <a *ngIf="session" routerLink="/{{sessionId}}"><i class="fs-3 fa-brands mx-5 fa-square-github mx-1"></i></a>
                </div>
                {{1+1}}
                <button *ngIf="!session" class="mx-3 btn btn-sm btn-outline-success" (click)="login()">Login</button>
                <button *ngIf="session" class="mx-3 btn btn-sm btn-outline-alert" (click)="logout()">Logout</button>

            </div>
        </div>
    </div>
</header>
