<header>
    <div class="navbar navbar-dark bg-dark mb-2">
        <div class="container">
            <a href="#" class="navbar-brand">{{title}}</a>
            <div id="derecha " class="d-flex">
                <div class="redes" >
                    <a href={{user?.linkedin}}><i class="fs-3 fa-brands fa-square-linkedin mx-1"></i></a>
                    <a href={{user?.instagram}}></a><i class="fs-3 fa-brands fa-square-instagram mx-1"></i>
                    <a href={{user?.github}}><i class="fs-3 fa-brands fa-square-github mx-1"></i></a>
                </div>
                <button *ngIf="!session" class="mx-3 btn btn-sm btn-outline-success" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</header>
