<article class="trabajo">
    <div class="tituloSeccion">
        <h5 class="fw-bold mb-2">
            <a href="#">Base de datos de Sistema de salud orientada a Covid-19</a>
        </h5>
        <i class="fa-sharp fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash"></i>
    </div>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe maiores cum blanditiis cupiditate
        adipisci suscipit minima obcaecati dolores, voluptate numquam accusamus architecto incidunt quas
        fuga quidem modi eum quod. Debitis!</p>
</article>