<app-header [title]="user.fullname" [session]="session" [user]="user"></app-header>
<div class="container">
    <app-cabecera [session]="session" [usuario]="user"></app-cabecera>
    <app-about-me [session]="session" [informacion]="user"></app-about-me>

    <app-seccion [session]="session" [title]='seccionExperiencia' [arreglo]="experiencias" [usuarioId]="user.id || 0"></app-seccion>
    <app-seccion [session]="session" [title]='seccionEducacion' [arreglo]="educaciones" [usuarioId]="user.id || 0"></app-seccion>
    <app-hard [session]="session" [habilidades]="habilidades" [usuarioId]="user.id || 0"></app-hard>
    <app-proyectos-seccion [session]="session" [proyectos]="proyectos" [usuarioId]="user.id || 0"></app-proyectos-seccion>
</div>
<app-footer></app-footer>