<article class="text-center trabajo">
    <div class="tituloSeccion">
        <p class="mb-1">{{skill.title}}</p>
        <i class="crudIcon fa-solid fa-pen"></i>
        <i class="crudIcon fa-solid fa-trash"></i>
    </div>
    <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
            aria-label="Success striped example" [ngStyle]="{'width': skill.percent+'%'}" aria-valuenow="25" aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
</article>