<h2 class="fw-bold mb-4">Registrate para crear tu curriculum</h2>
<form [formGroup]="form" >
    <!-- Email input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="registerName">Email</label>
        <input [(ngModel)]="creds.email" formControlName="email" type="email" id="registerName" class="form-control-sm form-control" />
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="registerPassword">Password</label>
        <input [(ngModel)]="creds.password" formControlName="contrasena" type="password" id="registerPassword" class="form-control form-control-sm" />
    </div>

    <!-- Nombre Completo input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="registerUsername">Nombre Completo</label>
        <input [(ngModel)]="creds.fullname" formControlName="nombre" type="text" id="registerUsername" class=" form-control-sm form-control" />
    </div>

    <!-- Submit button -->
    <button (click)="onClick()" type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
</form>