.bordesCebecera{
	border: 1px solid gray;
	border-radius: 2rem;
}
.fotoContainer{
	width:175px;
    height:175px;
}
.fotoPerfil{
	border-radius: 50%;
	margin-left: 5rem;
	/* transform: translateY(-6.5em); */
}
#botonesCabecera button{
	margin-right: 1rem;
}
#cabeceraImagen{
	margin-bottom: 6.5rem;
}
#infoCabecera p{
	margin-bottom: 0.1rem;
}
PortadaEstilo img {
	height: 100%;
	width: 100%;
}