<div id="cabecera" class="bordesCebecera">
    <div id="cabeceraImagen" class="position-relative">
        <div class="PortadaEstilo">
            <img src={{usuario.portraitImage}} alt="">
        </div>
        <!-- <div class="fotoContainer"> -->
            <img src={{usuario.image}} class="fotoContainer fotoPerfil position-absolute translate-middle-y" alt="">
        <!-- </div> -->
    </div>
    <div id="infoCabecera" class="px-5">
        <span>
            <div class="tituloSeccion">
                <h3 class="fw-bold">{{usuario.fullname}}</h3>
                <button *ngIf="session" data-bs-toggle="modal" data-bs-target="#ModalCabecera" class="btn btn-success btn-sm rounded-0 crudIcon"><i class="fa fa-edit"></i></button>
            </div>
            <div class="row">
                <div class="col-6 text-end">
                    <span class="fw-bold d-block">{{usuario.shortEducation}}</span>
                </div>
            </div>
            <div id="botonesCabecera" class="my-3">
                <button class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#contactoModal">Informacion de contacto</button>
            </div>
        </span>
    </div>
</div>

<!-- Modal Edicion -->
<!-- Modal -->
<div class="modal fade" id="ModalCabecera" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Edicion Cabecera</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <div class="mb-3">
                        <label for="disabledTextInput" class="form-label">Nombre Completo</label>
                        <input  disabled type="text" id="disabledTextInput" class="form-control" placeholder={{usuario.fullname}}>
                      </div>
                    <div class="form-group mb-2">
                        <label for="formGroupExampleInput">Educacion principal</label>
                        <input [ngModel]="usuario.shortEducation" formControlName="educacionForm" type="text" class="form-control" id="formGroupExampleInput"
                            placeholder="Educacion principal">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">URL foto de perfil</label>
                        <textarea [ngModel]="usuario.image" formControlName="urlPerfilForm" type="url" class="form-control"
                            id="formGroupExampleInput2" placeholder="url"> </textarea>
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">URL foto de cabecera</label>
                        <input formControlName="urlCabeceraForm" [ngModel]="usuario.portraitImage" type="url" class="form-control" id="formGroupExampleInput2"
                            placeholder="http://...">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">URL de github</label>
                        <input formControlName="github" [ngModel]="usuario.github" type="url" class="form-control" id="formGroupExampleInput2"
                            placeholder="http://...">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">URL de <i class="fa fa-instagram" aria-hidden="true"></i></label>
                        <input formControlName="instagram" [ngModel]="usuario.instagram" type="url" class="form-control" id="formGroupExampleInput2"
                            placeholder="http://...">
                    </div>
                    <div class="form-group">
                        <label for="formGroupExampleInput2">URL de linkedin</label>
                        <input formControlName="linkedin" [ngModel]="usuario.linkedin" type="url" class="form-control" id="formGroupExampleInput2"
                            placeholder="http://...">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="onClick()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Contacto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4 class="fw-bold">Email de contacto</h4><br>
          {{usuario.email}}
            <div>
                <h4 class="fw-bold">Redes Sociales y Github</h4><br>
                <a *ngIf="usuario.github" class="fw-normal fs-5" href={{usuario.github}}>github</a><br>
                <a *ngIf="usuario.instagram" class="fw-normal fs-5" href={{usuario.instagram}}>instagram</a><br>
                <a *ngIf="usuario.linkedin" class="fw-normal fs-5" href={{usuario.linkedin}}>Linkedin</a>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>