<div id="cabecera" class="bordesCebecera">
    <div id="cabeceraImagen" class="position-relative">
        <div class="PortadaEstilo">
            <img src={{usuario.portraitImage}} alt="">
        </div>
        <!-- <div class="fotoContainer"> -->
            <img src={{usuario.image}} class="fotoContainer fotoPerfil position-absolute translate-middle-y" alt="">
        <!-- </div> -->
    </div>
    <div id="infoCabecera" class="px-5">
        <span>
            <div class="tituloSeccion">
                <h3 class="fw-bold">{{usuario.fullName}}</h3>
                <i class="crudIcon fa-solid fa-pen"></i>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="fw-light text-muted">{{usuario.shortEducation}}</p><br>
                    <p><a href="#">Informacion de contacto</a> </p>
                </div>

                <div class="col-6 text-end">
                    <span class="fw-bold d-block">{{usuario.shortEducation}}</span>
                </div>
            </div>
            <div id="botonesCabecera" class="my-3">
                <button class="btn btn-primary">Tengo interes en</button>
                <button class="btn btn-light">Añadir Seccion</button>
                <button class="btn btn-light">Más</button>
            </div>
        </span>
    </div>
</div>